<h2>All Historical Landmarks</h2>

<%@landmarks.each do |landmark|%>
  <h3><%=landmark.name%></h3>
  <div>
    Completed in <%=landmark.year_completed ? landmark.year_completed : "???"%>
  </div>
<%end%>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
